<app-full-picture-heading></app-full-picture-heading>

<div
  class="navbar navbar-expand-lg navbar-light mb-5"
  style="background-color: #ccc"
></div>

<!-- Page Content -->
<div class="container">
  <h2>Liste des laptops disponibles</h2>
  <div class="row mt-4 table-responsive">
    <!-- Liste Produits -->
    <table class="table table-bordered table-striped table-sm">
      <caption>Liste des laptops disponibles jusqu'à Mars 2021</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Modèles</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Ecran</th>
          <th scope="col">CPU</th>
          <th scope="col">RAM</th>
          <th scope="col">HDD</th>
          <th scope="col">GPU</th>
          <th scope="col">Système OS</th>
          <th scope="col"> Prix (<i class="fa fa-eur" aria-hidden="true"></i>) </th>
          <th scope="col">Gérer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laptop of laptopsList">
          <th scope="row">{{ laptop.id }}</th>
          <td>
            <strong>{{ laptop.brand }}</strong> <br />
            {{ laptop.model }}
          </td>
          <td>{{ laptop.category }}</td>
          <td>{{ laptop.screenSize }}"</td>
          <td>
            {{ laptop.cpuModel }} <br />
            {{ laptop.cpuFreq }} Ghz
          </td>
          <td>
            {{ laptop.ramType }} <br />
            {{ laptop.ramSize }} Go
          </td>
          <td>
            {{ laptop.hddType }} <br />
            {{ laptop.hddSize }} Go
          </td>
          <td>{{ laptop.gpuBrand }}</td>
          <td>{{ laptop.OS }}</td>
          <td>{{ laptop.price }}</td>
          <td class="d-flex flex-row justify-content-around">
            <button
              type="button"
              class="btn btn-warning btn-sm mr-1"
              (click)="showEditLaptopForm(laptop)"
            >
              Editer
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm ml-1"
              (click)="removeLaptop(laptop.id)"
            >
              Suppr.
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin Liste Produits -->
  </div>
</div>
<!-- /.container -->

<!-- Bouton Ajouter Laptop -->
<div class="container">
  <div class="mt-4">
    <button class="btn btn-primary" (click)="showAddLaptopForm()">
      Ajouter un nouveau Laptop
    </button>
  </div>
  <div class="mt-4">
    <div class="mt-4">
      <!-- Form Ajouter Laptop -->
      <form *ngIf="laptopForm"
      (ngSubmit)="onSubmit(addForm)"
        #addForm="ngForm"
        novalidate
      >
        <h2>Ajouter un nouveau Laptop</h2>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="category">Catégorie</label>
            <select class="form-control" id="category" name="category"
              [(ngModel)]="newLaptop.category"
              required
              #category = "ngModel"
              [class.is-invalid]="category.invalid && category.touched"
              >
              <option selected>Multimédia</option>
              <option>UltraBook</option>
              <option>Gaming</option>
              <option>Hybride</option>
            </select>
            <small class="text-danger">(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="brand">Marque</label>
            <input type="text" class="form-control" id="brand" name="brand"
              [(ngModel)]="newLaptop.brand"
              required
              #brand = "ngModel"
              [class.is-invalid]="brand.invalid && brand.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="model">Modèle</label>
            <input type="text" class="form-control" id="model" name="model"
              [(ngModel)]="newLaptop.model"
              required
              #model = "ngModel"
              [class.is-invalid]="model.invalid && model.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="series">N° de Série</label>
            <input type="text" class="form-control" id="series" name="series"
              [(ngModel)]="newLaptop.series"
              required
              #series = "ngModel"
              [class.is-invalid]="series.invalid && series.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="cpuModel">CPU</label>
            <input type="text" class="form-control" id="cpuModel" name="cpuModel"
              [(ngModel)]="newLaptop.cpuModel"
              required
              #cpuModel = "ngModel"
              [class.is-invalid]="cpuModel.invalid && cpuModel.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="cpuFreq">Fréq.</label>
            <input type="text"
              class="form-control"
              id="cpuFreq"
              name="cpuFreq"
              [(ngModel)]="newLaptop.cpuFreq"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="ramType">RAM</label>
            <input type="text" class="form-control" id="ramType" name="ramType"
              [(ngModel)]="newLaptop.ramType"
              required
              #ramType = "ngModel"
              [class.is-invalid]="ramType.invalid && ramType.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="ramSize">Taille</label>
            <select class="form-control" id="ramSize" name="ramSize"
              [(ngModel)]="newLaptop.ramSize" >
              <option>4</option>
              <option selected>8</option>
              <option>16</option>
              <option>32</option>
              <option>64</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="hddType">Disque Dur</label>
            <select class="form-control" id="hddType" name="hddType"
              [(ngModel)]="newLaptop.hddType"
              required
              #hddType = "ngModel"
              [class.is-invalid]="hddType.invalid && hddType.touched"
            >
              <option>HDD</option>
              <option selected>HDD+SSD</option>
              <option>SSD</option>
            </select>
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="hddSize">Taille</label>
            <select class="form-control" id="hddSize" name="hddSize"
              [(ngModel)]="newLaptop.hddSize" >
              <option>128</option>
              <option selected>256</option>
              <option>520</option>
              <option>760</option>
              <option>1T</option>
              <option>2T</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="screenType">Ecran</label>
            <select class="form-control" id="screenType" name="screenType"
              [(ngModel)]="newLaptop.screenType"
              required
              #screenType = "ngModel"
              [class.is-invalid]="screenType.invalid && screenType.touched"
            >
              <option>LED</option>
              <option selected>IPS</option>
              <option>WLED</option>
              <option>AMOLED</option>
            </select>
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="screenSize">Taille</label>
            <select class="form-control" id="screenSize" name="screenSize"
              [(ngModel)]="newLaptop.screenSize" >
              <option>13</option>
              <option>14</option>
              <option selected>15</option>
              <option>15.6</option>
              <option>17</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="screenDef">Déf.</label>
            <select class="form-control" id="screenDef" name="screenDef"
              [(ngModel)]="newLaptop.screenDef" >
              <option selected>1920x1080</option>
              <option>2160x1440</option>
              <option>2560x1600</option>
              <option>2736x1824</option>
              <option>3000x2000</option>
              <option>3840x2400</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="gpuBrand">GPU</label>
            <input type="text" class="form-control" id="gpuBrand" name="gpuBrand"
              [(ngModel)]="newLaptop.gpuBrand"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="OS">Système OS</label>
            <input type="text" class="form-control" id="OS" name="OS"
              [(ngModel)]="newLaptop.OS"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="price">Prix (en euro)</label>
            <input type="text" class="form-control" id="price" name="price"
              [(ngModel)]="newLaptop.price"
              required
              #price = "ngModel"
              [class.is-invalid]="price.invalid && price.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="urlImage">URL image</label>
            <input type="text" class="form-control" id="urlImage" name="urlImage"
              [(ngModel)]="newLaptop.urlImage"
              required
              #urlImage = "ngModel"
              [class.is-invalid]="urlImage.invalid && urlImage.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>

          <!-- <div class="form-group col-md-3">
            <br/>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="promo" name="promo"
                [(ngModel)]="newLaptop.promo">
              <label class="form-check-label" for="promo">En Promotion</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="inStock" name="inStock"
                [(ngModel)]="newLaptop.inStock">
              <label class="form-check-label" for="inStock">En stock</label>
            </div>
          </div> -->

        </div>
        <div class="alert alert-danger" role="alert"
          [class.d-none]="(category.valid || category.untouched) && (brand.valid || brand.untouched) && (model.valid || model.untouched) && (series.valid || series.untouched) && (cpuModel.valid || cpuModel.untouched) && (ramType.valid || ramType.untouched) && (hddType.valid || hddType.untouched) && (screenType.valid || screenType.untouched) && (price.valid || price.untouched) && (urlImage.valid || urlImage.untouched)"
        >
          * champs requis.
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success mr-2"
            [disabled]="addForm.form.invalid"
            (click)="saveLaptop(newLaptop)"
          >
            Valider
          </button>
          <button type="button" class="btn btn-warning"
            (click)="cancelNewLaptop()"
          >
            Annuler
          </button>
        </div>
      </form>
      <!-- Fin Form Ajouter Laptop -->

      <!-- Form Mettre à jour Laptop -->
      <form *ngIf="editLaptopForm"
        (ngSubmit)="onSubmit(updateForm)"
        #updateForm="ngForm"
        novalidate
      >
        <h2>Modifier les données d'un laptop</h2>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="category">Catégorie</label>
            <select class="form-control" id="category" name="category"
              [(ngModel)]="editedLaptop.category"
              required
              #category = "ngModel"
              [class.is-invalid]="category.invalid && category.touched"
            >
              <option>Multimédia</option>
              <option>UltraBook</option>
              <option>Gaming</option>
              <option>Hybride</option>
            </select>
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="brand">Marque</label>
            <input type="text" class="form-control" id="brand" name="brand"
              [(ngModel)]="editedLaptop.brand"
              required
              #brand = "ngModel"
              [class.is-invalid]="brand.invalid && brand.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="model">Modèle</label>
            <input type="text" class="form-control" id="model" name="model"
              [(ngModel)]="editedLaptop.model"
              required
              #model = "ngModel"
              [class.is-invalid]="model.invalid && model.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="series">N° de Série</label>
            <input type="text" class="form-control" id="series" name="series"
              [(ngModel)]="editedLaptop.series"
              required
              #series = "ngModel"
              [class.is-invalid]="series.invalid && series.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="cpuModel">CPU</label>
            <input type="text" class="form-control" id="cpuModel" name="cpuModel"
              [(ngModel)]="editedLaptop.cpuModel"
              required
              #cpuModel = "ngModel"
              [class.is-invalid]="cpuModel.invalid && cpuModel.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="cpuFreq">Fréq.</label>
            <input type="text" class="form-control" id="cpuFreq" name="cpuFreq"
              [(ngModel)]="editedLaptop.cpuFreq"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="ramType">RAM</label>
            <input type="text" class="form-control" id="ramType" name="ramType"
              [(ngModel)]="editedLaptop.ramType"
              required
              #ramType = "ngModel"
              [class.is-invalid]="ramType.invalid && ramType.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="ramSize">Taille</label>
            <select class="form-control" id="ramSize" name="ramSize"
              [(ngModel)]="editedLaptop.ramSize" >
              <option>4</option>
              <option selected>8</option>
              <option>16</option>
              <option>32</option>
              <option>64</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="hddType">Disque Dur</label>
            <select class="form-control" id="hddType" name="hddType"
              [(ngModel)]="editedLaptop.hddType"
              required
              #hddType = "ngModel"
              [class.is-invalid]="hddType.invalid && hddType.touched"
            >
              <option>HDD</option>
              <option selected>HDD+SSD</option>
              <option>SSD</option>
            </select>
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="hddSize">Taille</label>
            <select class="form-control" id="hddSize" name="hddSize"
              [(ngModel)]="editedLaptop.hddSize" >
              <option>128</option>
              <option selected>256</option>
              <option>520</option>
              <option>760</option>
              <option>1T</option>
              <option>2T</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="screenType">Ecran</label>
            <select class="form-control" id="screenType" name="screenType"
              [(ngModel)]="editedLaptop.screenType"
              required
              #screenType = "ngModel"
              [class.is-invalid]="screenType.invalid && screenType.touched"
            >
              <option>LED</option>
              <option selected>IPS</option>
              <option>WLED</option>
              <option>AMOLED</option>
            </select>
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-1">
            <label for="screenSize">Taille</label>
            <select class="form-control" id="screenSize" name="screenSize"
              [(ngModel)]="editedLaptop.screenSize" >
              <option>13</option>
              <option>14</option>
              <option selected>15</option>
              <option>15.6</option>
              <option>17</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="screenDef">Déf.</label>
            <select class="form-control" id="screenDef" name="screenDef"
              [(ngModel)]="editedLaptop.screenDef" >
              <option selected>1920x1080</option>
              <option>2160x1440</option>
              <option>2560x1600</option>
              <option>2736x1824</option>
              <option>3000x2000</option>
              <option>3840x2400</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="gpuBrand">GPU</label>
            <input type="text" class="form-control" id="gpuBrand" name="gpuBrand"
              [(ngModel)]="editedLaptop.gpuBrand"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="OS">Système OS</label>
            <input type="text" class="form-control" id="OS" name="OS"
              [(ngModel)]="editedLaptop.OS"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="price">Prix (en euro)</label>
            <input type="text" class="form-control" id="price" name="price"
              [(ngModel)]="editedLaptop.price"
              required
              #price = "ngModel"
              [class.is-invalid]="price.invalid && price.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
          <div class="form-group col-md-3">
            <label for="urlImage">URL image</label>
            <input type="text" class="form-control" id="urlImage" name="urlImage"
            [(ngModel)]="editedLaptop.urlImage"
            required
              #urlImage = "ngModel"
              [class.is-invalid]="urlImage.invalid && urlImage.touched"
            />
            <small class="text-danger" >(*)</small>
          </div>
        </div>
        <div class="alert alert-danger" role="alert"
          [class.d-none]="(category.valid || category.untouched) && (brand.valid || brand.untouched) && (model.valid || model.untouched) && (series.valid || series.untouched) && (cpuModel.valid || cpuModel.untouched) && (ramType.valid || ramType.untouched) && (hddType.valid || hddType.untouched) && (screenType.valid || screenType.untouched) && (price.valid || price.untouched) && (urlImage.valid || urlImage.untouched)"
        >
          * champs requis.
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-success mr-2"
            [disabled]="updateForm.form.invalid"
            (click)="updateLaptop(editedLaptop)"
          > Valider
          </button>
          <button type="button" class="btn btn-warning"
            (click)="cancelEdit()"
          > Annuler
          </button>
        </div>
      </form>
      <!-- Fin Form Mettre à jour Laptop -->
    </div>
  </div>
</div>
<!-- Fin Mise à jour laptop -->
<!-- Fin Edition produits-->
