
<app-carousel></app-carousel>
<div class="container marketing">
  
  <app-full-picture-heading></app-full-picture-heading>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Les plus tendance</h1>
      <p class="lead">Ici quelques unes des produits les plus tendance du marché.</p>
      <p>Tous nos produits sont haut de gamme, avec la dernière technologie disponible, il est aussi possible de personnaliser votre produit.</p>
      <p>Les laptops ont eu un grand succès pendant le début de l'année, nous les présentons avec plus de détails.</p>
    </div>
  </section>

  <hr/>
  <app-featurettes></app-featurettes>
</div>